client

# You may remove this line if your client truly supports split-DNS
pull-filter ignore "dhcp-option DOMAIN-SEARCH"

dev tun
remote {{server_address}} {{server_port}} {{server_protocol}}
nobind

persist-key
persist-tun

verb 3

ping 10
ping-restart 60

key-direction 1
reneg-sec 0

{% if cert %}
<cert>
{{cert}}
</cert>
{% endif %}
{% if key %}
<key>
{{key}}
</key>
{% endif %}
auth-user-pass

<ca>
{{ca}}
</ca>
<tls-auth>
{{tls_auth}}
</tls-auth>
