## SCHLIESSEN SIE DIESE SEITE NICHT, BIS ALLES FUNKTIONIERT!

### VPN-Verbindungsanleitung:

* Laden Sie die Konfigurationsdatei herunter (aus dem Anhang)
* Scannen Sie den untenstehenden QR-Code mit Ihrer OTP-Authenticator-App
* Richten Sie die Konfigurationsdatei in Ihrem OpenVPN-Client ein
* Beim Verbinden:
    * Benutzername: {{ account_name }}
    * Passwort eingeben: Ihre PIN + OTP-Code (Beispiel: `{{ pin }}111111`, wobei `{{ pin }}` Ihre PIN und `111111` das OTP ist)
    * Passwort nicht im Client speichern, falls möglich

### Ihre Zugangsdaten:
- Benutzername: `{{ account_name }}`
- PIN: `{{ pin }}`

### OTP:
{% if qr_base64 %}<img src="data:image/png;base64,{{ qr_base64 }}" />

OTP URI: `{{ otp_uri }}`

OTP secret: `{{ otp_secret }}`{% else %}Verwenden Sie das zuvor ausgestellte OTP für VPN{% endif %}

