在一切正常运作之前，请勿关闭此页面！

!!!VPN 使用说明:!!!
0. 下载配置文件（从附件中）
1. 使用 OTP 身份验证器应用扫描下方的二维码
2. 在 OpenVPN 客户端中设置配置文件
3. 连接时：
  - 设置用户名：{{ account_name }}
  - 输入密码：您的 PIN + OTP 验证码（示例：`您的pin111111`，其中`您的pin`是您的 PIN，`111111`是 OTP）
  - 不要在客户端中保存密码（如可选项）

!!!登录凭据:!!!
用户名: {{ account_name }}
PIN: {{ pin }}

!!!OTP:!!!
{{ qr_text }}

OTP URI: {{ otp_uri }}
