DON'T CLOSE THIS PAGE BEFORE EVERYTHING WORKS!

!!!VPN Instruction:!!!
0. Download config file (from attachment)
1. Scan the QR code below with your OTP authenticator app
2. Set up config file in your OpenVPN client
3. When connecting:
  - Set username: {{ account_name }}
  - Enter password: your PIN + OTP code (example: `yourpin111111`, where `yourpin` is your PIN and `111111` is OTP)
  - Don't save password in client, if available

!!!Credentials:!!!
Login: {{ account_name }}
PIN: {{ pin }}

!!!OTP:!!!
{{ qr_text }}

OTP URI: {{ otp_uri }}
