DON'T CLOSE THIS PAGE BEFORE EVERYTHING WORKS!

VPN Credentials
=====================

Login: {{ account_name }}
PIN: {{ pin }}

OTP Setup
---------
0. Download config file (from attachment)
1. Scan the QR code below with your authenticator app
2. Set up config file in your OpenVPN client:
  - Set username: {{ account_name }}
  - disable password save
3. When connecting, enter: PIN + OTP code

{{ qr_text }}

OTP URI: {{ otp_uri }}
