## НЕ ЗАКРЫВАЙТЕ ЭТУ СТРАНИЦУ, ПОКА ВСЁ НЕ ЗАРАБОТАЕТ!

### Инструкция по подключению к VPN:

* Скачайте файл конфигурации (из вложения)
* Отсканируйте QR-код ниже приложением OTP-аутентификатора
* Настройте файл конфигурации в клиенте OpenVPN
* При подключении:
    * Укажите имя пользователя: test8
    * Введите пароль: ваш PIN + OTP-код (пример: `вашpin111111`, где `вашpin` — ваш PIN, а `111111` — OTP)
    * Не сохраняйте пароль в клиенте, если есть такая возможность

### Ваши учётные данные:
- Логин: `{{ account_name }}`
- PIN: `{{ pin }}`

### OTP:
{% if qr_base64 %}<img src="data:image/png;base64,{{ qr_base64 }}" />

OTP URI: `{{ otp_uri }}`

OTP secret: `{{ otp_secret }}`{% else %}Используйте ранее выданный OTP для VPN{% endif %}
