SCHLIESSEN SIE DIESE SEITE NICHT, BIS ALLES FUNKTIONIERT!

!!!VPN-Anleitung:!!!
0. Laden Sie die Konfigurationsdatei herunter (aus dem Anhang)
1. Scannen Sie den untenstehenden QR-Code mit Ihrer OTP-Authenticator-App
2. Richten Sie die Konfigurationsdatei in Ihrem OpenVPN-Client ein
3. Beim Verbinden:
  - Benutzername: {{ account_name }}
  - Passwort eingeben: Ihre PIN + OTP-Code (Beispiel: `ihrepin111111`, wobei `ihrepin` Ihre PIN und `111111` das OTP ist)
  - Passwort nicht im Client speichern, falls möglich

!!!Zugangsdaten:!!!
Benutzername: {{ account_name }}
PIN: {{ pin }}

!!!OTP:!!!
{{ qr_text }}

OTP URI: {{ otp_uri }}
