НЕ ЗАКРЫВАЙТЕ ЭТУ СТРАНИЦУ, ПОКА ВСЁ НЕ ЗАРАБОТАЕТ!

!!!Инструкция по VPN:!!!
0. Скачайте файл конфигурации (из вложения)
1. Отсканируйте QR-код ниже приложением OTP-аутентификатора
2. Настройте файл конфигурации в клиенте OpenVPN
3. При подключении:
  - Укажите имя пользователя: {{ account_name }}
  - Введите пароль: ваш PIN + OTP-код (пример: `вашpin111111`, где `вашpin` — ваш PIN, а `111111` — OTP)
  - Не сохраняйте пароль в клиенте, если есть такая возможность

!!!Учётные данные:!!!
Логин: {{ account_name }}
PIN: {{ pin }}

!!!OTP:!!!
{{ qr_text }}

OTP URI: {{ otp_uri }}
