## DON'T CLOSE THIS PAGE UNTIL EVERYTHING IS WORKING!

### VPN Connection Instructions:

* Download the config file (from attachment)
* Scan the QR code below with an OTP authenticator app
* Set up the config file in your OpenVPN client
* When connecting:
    * Enter username: {{ account_name }}
    * Enter password: your PIN + OTP code (example: `yourpin111111`, where `yourpin` is your PIN and `111111` is the OTP)
    * Do not save the password in the client if possible

### Your Credentials:
- Login: `{{ account_name }}`
- PIN: `{{ pin }}`

### OTP:
{% if qr_base64 %}<img src="data:image/png;base64,{{ qr_base64 }}" />

OTP URI: `{{ otp_uri }}`

OTP secret: `{{ otp_secret }}`{% else %}Use previously issued OTP for VPN{% endif %}
