[Unit]
Description=Genesis VPN User API
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStart=exordos-vpn-user-api --config-file /etc/exordos_vpn/exordos_vpn.conf --user_api-bind-host 127.0.0.1

[Install]
WantedBy=multi-user.target
